body{
    background-image: url("../images/bg.png");
}
.top-nav>li>a{
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
    margin-right: 20px;
    background-color: #222 !important;
}
.top-nav>li>a:hover,.top-nav>li>a:focus{
    background-color: rgba(5, 7, 12, 0.95) !important;
    color: white;
}
.dropdown-menu>li>a>.glyphicon{
    top:2px;
}