{% extends "main.html" %}

{% block header %}
<title>{{ header }}</title>
{% end %}

{% block left-nav %}
<li class="active">
    <a href="/admin?user=admin">
        <i class="glyphicon glyphicon-home" aria-hidden="true"></i>
        <span>Home</span>
    </a>
</li>
<li>
    <a href="/newsManage">
        <i class="glyphicon glyphicon-file" aria-hidden="true"></i>
        <span class="">新闻管理</span>
    </a>
</li>
<li>
    <a href="/userManage">
        <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
        <span class="">用户管理</span>
    </a>
</li>
{% end %}

{% block right %}


<div class="container">
    <div class="row">
        <div id="getNews" class="col-sm-3">
            <div class="col-operator">
                <span>新闻获取</span>
            </div>
        </div>
        <div id="repeatedData" class="col-sm-3">
            <div class="col-operator">
                <span>新闻去重</span>
            </div>
        </div>
        <div id="anaData" class="col-sm-3">
            <div class="col-operator">
                <span>内容分析</span>
            </div>
        </div>
        <div id="rmAllNews" class="col-sm-3">
            <div class="col-operator">
                <span>数据清洗</span>
            </div>
        </div>
    </div>
</div>
<div class="showlog">
    <div class="show-nav">
        <span><i class="glyphicon glyphicon-cog" aria-hidden="true"></i></span>
        <span class="show-nav-right-down"><i class="glyphicon glyphicon-menu-down" aria-hidden="true"></i></span>
        <span class="show-nav-right-up"><i class="glyphicon glyphicon-menu-up" aria-hidden="true"></i></span>
    </div>
</div>
{% end %}