<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻推荐系统后台</title>
    <link rel="stylesheet" href="{{static_url('css/login.css')}}">
</head>
<body>
    <div class="top_div">
        <div class="i_top">
            <img src="{{static_url('images/news.png')}}">
        </div>
    </div>
    <form id="backStage" method="post">
        <div style="background: rgb(255, 255, 255); margin: -100px auto auto; border: 1px solid rgb(231, 231, 231); border-image: none; width: 400px; height: 200px; text-align: center;">
            <div style="width: 165px; height: 96px; position: absolute;">
                <div class="tou"></div>
                <div class="initial_left_hand" id="left_hand"></div>
                <div class="initial_right_hand" id="right_hand"></div>
            </div>
            <p style="padding: 30px 0px 10px; position: relative;">
                <span class="u_logo"></span>
                <input id="username" class="ipt" type="text" placeholder="请输入用户名" value="admin">
            </p>
            <p style="position: relative;">
                <span class="p_logo"></span>
                <input id="password" class="ipt" type="password" placeholder="请输入密码" value="">
            </p>
            <div style="height: 50px; line-height: 50px; margin-top: 30px; border-top-color: rgb(231, 231, 231); border-top-width: 1px; border-top-style: solid;">
                <P style="margin: 0px 35px 20px 45px;">
                    <span style="float: left;"><a style="color: rgb(204, 204, 204);" ></a></span>
                    <span id="login" style="float: right;"><a style="background: rgb(0, 142, 173); padding: 7px 10px; border-radius: 4px; border: 1px solid rgb(26, 117, 152); border-image: none; color: rgb(255, 255, 255); font-weight: bold;">登录</a></span>
                </P>
            </div>
        </div>
    </form>
<script src="{{static_url('js/jquery.min.js')}}"> </script>
<script src="{{static_url('js/howie.js')}}"> </script>
</body>
</html>