{% extends "main.html" %}
{% block header %}
<title>{{ header }}</title>
{% end %}

{% block left-nav %}
<li>
    <a href="/admin?user=admin">
        <i class="glyphicon glyphicon-home" aria-hidden="true"></i>
        <span>Home</span>
    </a>
</li>
<li>
    <a href="/dataAna">
        <i class="glyphicon glyphicon-education" aria-hidden="true"></i>
        <span class="">数据分析</span>
    </a>
</li>
<li>
    <a href="http://45.78.24.111:5000" target="_blank">
        <i class="glyphicon glyphicon-save" aria-hidden="true"></i>
        <span class="">爬虫管理</span>
    </a>
</li>
<li>
    <a href="/newsManage">
        <i class="glyphicon glyphicon-file" aria-hidden="true"></i>
        <span class="">新闻管理</span>
    </a>
</li>
<li>
    <a href="/userManage">
        <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
        <span class="">用户管理</span>
    </a>
</li>
<li class="active">
    <a href="/system">
        <i class="glyphicon glyphicon-cog" aria-hidden="true"></i>
        <span class="">系统信息</span>
    </a>
</li>
{% end %}

{% block right %}


<iframe style="margin-top: -53px;" id="systemPage" width='100%' frameborder=0 scrolling=auto hspace=-100 src="http://45.78.24.111:19999/">

</iframe>

{% end %}