{% extends "main.html" %}

{% block header %}
<title>{{ header }}</title>
{% end %}

{% block left-nav %}
<li>
    <a href="/admin?user=admin">
        <i class="glyphicon glyphicon-home" aria-hidden="true"></i>
        <span>Home</span>
    </a>
</li>
<li>
    <a href="/dataAna">
        <i class="glyphicon glyphicon-education" aria-hidden="true"></i>
        <span class="">数据分析</span>
    </a>
</li>
<li>
    <a href="/newsManage">
        <i class="glyphicon glyphicon-file" aria-hidden="true"></i>
        <span class="">新闻管理</span>
    </a>
</li>
<li class="active">
    <a href="/userManage">
        <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
        <span class="">用户管理</span>
    </a>
</li>
<li>
    <a href="/system">
        <i class="glyphicon glyphicon-cog" aria-hidden="true"></i>
        <span class="">系统信息</span>
    </a>
</li>
{% end %}


{% block right %}

<div id= "second" class = "left-sidebar nav-list second-menu">
<li class="active">
    <a href="/userManage">
        <i class="glyphicon " aria-hidden="true"></i>
        <span class="">用户信息</span>
    </a>
</li>
<li>
    <a href="/umFeedBack">
        <i class="glyphicon " aria-hidden="true"></i>
        <span class="">反馈信息</span>
    </a>
</li>
<li>
    <a href="/umMyNote">
        <i class="glyphicon " aria-hidden="true"></i>
        <span class="">管理日志</span>
    </a>
</li>

</div>

<div>
    <div class="row user_third_menu">
      <div class="col-sm-3 user_third_head">
        <img src="{{static_url('images/admin.jpg')}}" class = "img-circle img-thumbnail super_head">
      </div>
      <div class="col-sm-3">
               <table class="table table-bordered">
                   <caption>用户管理</caption>
                   <thead>
                      <tr>
                         <th>用户编号</th>
                         <th>昵称</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr>
                         <td>000001</td>
                         <td><a>Jeezy</a></td>
                      </tr>
                      <tr>
                         <td>000002</td>
                         <td><a>Howie</a></td>
                      </tr>
                      <tr>
                         <td>000003</td>
                         <td><a>Azusal</a></td>
                      </tr>
                   <tr>
                         <td>000004</td>
                         <td><a>Jay</a></td>
                      </tr>
                   <tr>
                         <td>000005</td>
                         <td><a>James</a></td>
                      </tr>
                   <tr>
                         <td>000006</td>
                         <td><a>Pune</a></td>
                      </tr>
                   </tbody>
                </table>
              <ul class="pagination pagination-lg">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
      </div>
        <div class="col-sm-3">
             <table class="table table-bordered">
                   <caption>用户信息</caption>
                   <thead>
                      <tr>
                         <th>信息</th>
                         <th>内容</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr>
                         <td>电话</td>
                         <td>1576****632</td>
                      </tr>
                      <tr>
                         <td>年龄</td>
                         <td>22</td>
                      </tr>
                      <tr>
                         <td>性别</td>
                         <td>男</td>
                      </tr>
                   <tr>
                         <td>地址</td>
                         <td>广东省广州市白云区</td>
                      </tr>
                   <tr>
                         <td>邮箱</td>
                         <td><a>214685956@qq.com</a></td>
                      </tr>
                   <tr>
                         <td>是否老用户</td>
                         <td>是</td>
                      </tr>
                   </tbody>
                </table>
        </div>
    </div>
   <div class="row">

   </div>
</div>
{% end %}





